<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Apostolic Holy Convention 2025</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/styles/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!"><img src="/images/whiteLogo.png" alt="" width="100px" height="auto"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#speakers">Speakers</a></li>
                        <li class="nav-item"><a class="nav-link" href="#programs">Programs</a></li>
                        <li class="nav-item"><a class="nav-link" href="#birthday">Apostle's Birthday</a></li>
                        <li class="nav-item"><a class="nav-link" href="#announcements">Annoucements</a></li>
                        <li class="nav-item"><a class="nav-link" href="#thanks">Thank You</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/welcomeImage.png" alt="..." /></div>
                <div class="col-lg-7">
                    <h1 class="font-weight-light">Welcome to Apostolic Holy Convention 2025!</h1>
                    <p>Greetings in the name of our Lord and Savior, Jesus Christ, To all the beloved of the Apostolic Dominion Holy Church of Jesus Christ—and to every visiting soul that has crossed the threshold of this Apostolic Holy Convention—I greet you in the most powerful, matchless, miracle-working name: JESUS! This is not just another meeting, not just another moment—this is a divine move, a supernatural summons. The heavens are open, the fire is falling, and the saints are rising because “His Name Is Jesus!” We have stepped into a God-appointed season, and as your Apostle, I must declare: “God arranged the change!” It wasn’t a breakdown, it was a breakthrough. It wasn’t rejection, it was redirection. Everything that shifted in your life—God orchestrated it to bring you here, right on time.
We’re not just attending a conference; we’re walking through a door. And this weekend, we’re coming with fire, hunger, and purpose! Friday Night, we rise in strength with Bishop Darryl Williams for Men and Women’s Night. Saturday Morning, we invest in the future on Youth Day with Pastor Anthony Frye. Saturday Night, we remember the foundation and fuel the vision at Founders Night with Apostle Charles Marsh. And Sunday at 12 Noon, we close in divine order and Holy Ghost power on Official Day.
But let me tell you something right now… “You got grace in every place.” Wherever life has planted you, grace was already waiting. In the storm, in the fire, in the dark, in the dry place—grace was there. You didn’t survive because you were strong—you survived because grace carried you! Some of you are wondering why the process was painful, why you’ve been torn open and bruised. But hear me: “The gift has to be ripped to get what’s inside.” The tear was necessary. The breaking was divine. God was unwrapping your calling. You thought it was destruction—but it was destiny being revealed.
“Another one bites the dust” may sound like defeat, but in this kingdom it’s a victory cry. Everything not like God? Let it die. Every chain, every cycle, every weight—bury it here at the altar. Some things had to fall so the real you could rise! And now I speak as your Apostle with urgency and clarity: Don’t look back. Don’t stand still. Don’t freeze in fear. Live forward! The church has too many people dwelling in memories instead of moving in mission. The glory cloud is not behind us—it’s ahead! The revival is not coming—it’s here!
But be careful… Don’t follow the noise—follow the sound. Noise is hype. Sound is heaven. Noise fades. Sound carries. Noise excites. Sound births movements. And the sound we hear now? It’s the sound of JESUS. The same Jesus that heals, saves, delivers, and reigns!
So, I charge you all: Walk worthy. Live holy. Pray harder. Praise louder. Worship deeper. And love each other without condition. Let’s kill the gossip, crucify the flesh, and provoke one another to good works. Because guess what? “God has prepared a table before you in the presence of your enemies.” And I say to you: Pull up a seat—and get ready to eat! What God has blessed, no man can curse. What God has opened, no devil can shut. What God has ordained, you don’t need man to validate.
This is the hour. This is the house. This is the move. One Lord. One Faith. One Baptism. And ONE Name under heaven whereby we must be saved—JESUS!
God bless you and welcome to the Apostolic Holy Convention!
Apostle Matthew Eady
Apostolic Dominion Holy Church of Jesus Christ</p>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center" id="speakers">
                <div class="card-body"><h2 class="font-weight-light">Meet the Preachers</h2></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Bishop Darryl Williams</h2>
                            <img src="/images/williams.png" alt="" width="350px" height="auto">
                            <p class="card-text" >We are honored to present a man of profound wisdom, unwavering faith, and Holy Ghost power — Bishop Darryl Williams. He stands as a pillar of spiritual authority and kingdom leadership, anointed to preach and teach the uncompromised Word of God. With a ministry rooted in reconciliation, restoration, and revival, Bishop Williams serves faithfully as the Senior Pastor of Reconciliation International Ministries, Inc., located at 1905 Highpoint Road, Snellville, Georgia, alongside his beloved wife and ministry partner, Lady Karen Williams.

Bishop Williams is not only a shepherd to his local congregation but also a covering and spiritual father to many as the Jurisdictional Bishop of the Northern Region of Celebration of Praise Ministries. He operates in apostolic grace, with a mantle for deliverance and healing, and a heart to see lives transformed by the power of Jesus Christ. His teachings penetrate deep into the spirit, and his preaching ignites faith, passion, and purpose in the lives of those he serves.

A true servant-leader, Bishop Darryl Williams is a vessel set apart for this generation — walking in humility, integrity, and the supernatural authority of God. We welcome and honor the presence of this mighty man of God.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Pastor Anthony Frye</h2>
                            <img src="/images/frye.png" alt="" width="350px" height="auto">
                            <p class="card-text">With great joy and reverence, we present a dynamic vessel of God, a passionate preacher, and a faithful servant—Pastor Anthony Frye. He is the Senior Pastor of Holy House New Beginning Apostolic Church in Cincinnati, Ohio, a ministry grounded in holiness, truth, and the transforming power of Jesus Christ. Pastor Frye walks boldly in apostolic authority, declaring the uncompromised Word and calling souls back to the foundation of the Apostles' doctrine.

He serves faithfully under the spiritual mentorship and covering of Overseer James Hall, and he carries the mantle of leadership with humility, strength, and unwavering devotion to the call of God. Pastor Frye’s ministry is marked by fervent prayer, sound doctrine, and an evident anointing that breaks yokes and brings healing to the broken.

With a heart for revival and a vision for kingdom expansion, Pastor Anthony Frye is raising up a generation rooted in truth, baptized in fire, and empowered by the Holy Ghost. We honor this servant of the Most High and welcome the ministry of this anointed man of God.</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Apostle Charles Marsh</h2>
                            <img src="/images/marsh.png" alt="" width="350px" height="auto">
                            <p class="card-text">We are blessed to introduce a true general in the army of the Lord — Apostle Charles Marsh, a man set apart for this end-time harvest. He serves as the Senior Pastor of Inner Circle Holiness Church in Rowland, North Carolina, where he leads with apostolic insight, prophetic precision, and unwavering dedication to the truth of God’s Word.

Apostle Marsh is a voice crying out for holiness and spiritual alignment, calling the body of Christ back to consecration and covenant. His ministry is marked by miracles, deliverance, and deep biblical revelation, as he equips saints to walk in power, purpose, and purity. With a shepherd’s heart and an apostolic mandate, he nurtures, builds, and governs according to the divine order of the Kingdom.

Those who sit under his leadership are not only taught but transformed. Through the ministry of Apostle Marsh, lives are restored, mantles are activated, and generations are empowered to stand boldly in the faith.

We honor Apostle Charles Marsh — a chosen vessel, an apostolic pioneer, and a faithful servant of Jesus Christ.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center" style="width: 86%; margin: 0 auto;" id="birthday" >
                <div class="card-body" ><h2 class="font-weight-light">Birthday Shoutout</h2></div>
            </div>
        
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            
                <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/birthday.png" alt="..." /></div>
                <div class="col-lg-7">
                    <h2 class="font-weight-light">Happy Birthday Apostle!🎂🎊</h2>
                    <h4>🎉 Help Us Celebrate a True Vessel of God – Apostle Matthew Eady! 🎉 <br>
📅 Birthday: July 20 <br>
💸 Cash App: $MatthewEady <br>
📲 Zelle & Apple Pay: 912-589-3385</h4>
                    <p>

Today, we give honor to Apostle Matthew Eady, a mighty man of valor, wisdom, and unwavering faith. A shepherd after God's own heart, Apostle Eady has poured out his life in prayer, counsel, teaching, and leadership to uplift the Body of Christ. He is a man who carries the mantle with humility, power, and apostolic authority.

"And I will give you pastors according to mine heart, which shall feed you with knowledge and understanding." – Jeremiah 3:15

Whether behind the pulpit, in the community, or in private intercession, Apostle Eady walks in divine purpose with a spirit of excellence. His labor is not in vain. His words heal. His prayers restore. His leadership builds.

On this special day, we invite family, friends, churches, and sons and daughters in the faith to honor this incredible vessel by sowing into his life. No gift is too small—your seed of love helps pour back into the one who has given so much.

"Let the elders that rule well be counted worthy of double honour, especially they who labour in the word and doctrine." – 1 Timothy 5:17

Let’s flood Apostle Eady with love, encouragement, and blessing today! If he has ever prayed for you, preached a word that changed you, or led you closer to your destiny—today is your chance to say thank you.

🙏🏽 Happy Birthday Apostle! May the Lord enlarge your territory, restore what was lost, and shower you with favor and strength for the journey ahead.

“The Lord bless you and keep you; the Lord make His face shine on you and be gracious to you.” – Numbers 6:24-25 <br>

#HappyBirthdayApostleEady<br>
#KingdomGeneral<br>
#DoubleHonor<br>
#ApostolicGrace

</p>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center" style="width: 86%; margin: 0 auto;" id="programs">
                <div class="card-body"><h2 class="font-weight-light">Itinerary</h2></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title" >July 18, 2025 @730PM-Men & Women's Night</h4>
                            <p class="card-text" style="text-align: center;">National Foundational Stand p.3<br>
Acclamation of Faith (p.3) <br>
Scripture Praise <br>
Devotional Service <br>
Theme Declaration: His Name is Jesus!<br>
Welcome-Address the House<br>
Dominion Tithing and Giving<br>
Apostle’s Message to the Church<br>
Introduction of Speaker: Lady Williams<br>
Apostolic Voice: Bishop Darryl Williams <br>
Words from our Apostle<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">July 19, 2025@1100AM-Youth Day</h4>
                            <p class="card-text" style="text-align: center;">National Foundational Stand p.3 <br>
Acclamation of Faith (p.3)<br>
Scripture Praise<br>
Devotional Service<br>
Theme Declaration: His Name is Jesus!<br>
Welcome-Address the House<br>
Dominion Tithing and Giving<br>
Intro. of Speaker: Evangelist Linda Massey<br>
Apostolic Voice: Pastor Anthony Frye<br>
Words from our Apostle<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">July 19, 2025@730PM-Founder's Night</h4>
                            <p class="card-text" style="text-align: center;">Presider: Overseer Edward Brownlee<br>
National Foundational Stand p.3<br>
Acclamation of Faith (p.4)<br>
Scripture Praise<br>
Devotional Service<br>
Theme Declaration: His Name is Jesus! <br>
Welcome-Address the House <br>
Presentations/Words of Encouragement to the Founder<br>
Dominion Tithing and Giving<br>
Introduction of Speaker<br>
Apostolic Voice: Apostle Charles Marsh<br>
Words from our Apostle<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">July 20, 2025@1200PM-Official Day</h4>
                            <p class="card-text" style="text-align: center;" >National Foundational Stand p.3 <br>
Acclamation of Faith (p.4) <br>
Scripture Praise <br>
Devotional Service <br>
Theme Declaration: His Name is Jesus! <br>
Welcome-Address the House- <br>
Happy Birthday to Apostle <br>
Dominion Tithing and Giving <br>
Introduction of Speaker  <br>
Speaker: Special Birthday Guest<br>
Words from our Apostle<br>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center" style="width: 86%; margin: 0 auto;" id="announcements">
                <div class="card-body"><h2 class="font-weight-light">Annoucements</h2></div>
            </div>
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            
                <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/calendar.png" alt="..." /></div>
                <div class="col-lg-7">
                    <h2 class="font-weight-light">Govern Yourself Accordingly!</h2>
                    <ul>
                        <li>August 1st, 2025- Born Again Believers Estill, SC Apostle Lisa Hughee</li>
                        <li>September 6, 2025- Apostle Eady’s Official Apostolic Affirmation- Chief Consecrator Apostle Charles Marsh</li>
                        <li>November 22, 2025- Thanksgiving Food and Clothes Giveaway</li>
                        <li>Jubilee Celebration December 5-7, 2025</li>
                        <li>December 22, 2025- Christmas Food and Clothes Giveaway</li>
                        <li>Solemn Assembly December 28-31</li>
                    </ul>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center" style="width: 86%; margin: 0 auto;" id="thanks">
                <div class="card-body"><h2 class="font-weight-light">Thank You!</h2></div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <h3 class="font-weight-light">Thank You for Attending Apostolic Holy Convention 2025!</h3>
                    <p>On behalf of our Chief Apostle Matthew Eady and Apostolic Dominion Holy Church of Jesus Christ, thank you for your presence and love during this awesome Jubilee Celebration. May God richly bless you from this day forth and forever. We Love You!!!</p>
                </div>
                <div class="col-lg-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/logo.png" alt="..." /></div>
                
            </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
